@import '../../src/index.css';


nav{
    position: absolute;
    z-index: 1;
}
ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav{
    align-items: center;
    justify-content: center;
    display: flex;
    height: var(--navbar-height);
    width: 100vw;
    background-color: rgba(33, 33, 33, 0.7);
}
.li{
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.15s ease;
    user-select: none;
    font-size: var(--navbar-font-size);
}
.li:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: lightgray;
    background-color: black;
}
.li.active{
    transform: scale(0.95);
}